@import '../../../Components/Vars/Vars';

@media screen and ($tabletMin <= width < $standardMin) {

    #Amenities {
    
        a {
            img {
                height: 50vh;
                width: 100vw;
                object-fit: cover;
                object-position: 75% 0;
            }
    
            &::before {
                top: 10%;
                text-shadow: 0 0 3px $dkBlue;
            }
        
            &::after {
                text-shadow: 0 0 3px $gold;
                top: 25%;
            }
        }
    }
}