@import '../../../Components/Vars/Vars';
@import './mobile';
@import './tablet';
@import './standard';
@import './hd1080';
@import './hd4kup';

#Amenities {
    position: relative;

    a {

        &::before {
            content: 'Amenities';
            color: $offWhite;
            right: 5vw;
        }
    
        &::after {
            content: 'From inexpensive Hostels, to the most luxurious 5-star resorts - Wherever you want to stay, Taniti has you covered!';
            color: $offWhite;
            right: 5vw;
            width: 40ch;
            text-align: right;
        }
    }

    caption {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        font-size: 1.25rem;
        font-family: Arial, Helvetica, sans-serif;
        color: $offWhite;
        text-shadow: 
            0 0 3px $offWhite,
            0 0 2px $dkBlue;
        font-style: italic;
        -webkit-backdrop-filter: blur(3px); /** needed for safari at least up to v9 */
        backdrop-filter: blur(3px);
    }
}