@import '../../../Components/Vars/Vars';
@import './mobile';
@import './tablet';
@import './standard';
@import './hd1080';
@import './hd4kup';

#Amenities {
    position: relative;

    a {

        &::before {
            content: 'Amenities';
            color: $offWhite;
            right: 5vw;
        }
    
        &::after {
            content: 'From inexpensive Hostels, to the most luxurious 5-star resorts - Wherever you want to stay, Taniti has you covered!';
            color: $offWhite;
            right: 5vw;
            width: 40ch;
            text-align: right;
        }
    }
}