@import '../../../Components/Vars/Vars';

@media screen and ($standardMin <= width < $hd1080Min) {

    #Food {
        
        a {
            img {
            }
        
            &::before {
                content: 'Food';
                top: 15%;
                text-shadow: 0 0 3px $dkBlue;
            }
        
            &::after {
            }
        }
    }
}