@import '../../../Components/Vars/Vars';
@import './mobile';
@import './tablet';
@import './standard';
@import './hd1080';
@import './hd4kup';

#Food {
    position: relative;

    a {

        img {
            max-height: 85vh;
            width: 100vw;
            object-fit: cover;
            object-position: 50% 30%;
        }
    
        &::before {
            color: $offWhite;
            position: absolute;
            right: 5vw;
        }
    
        &::after {
            content: 'Simple, rich, flavorful - comfort food at it\'s finest. Nobody does it like Tanitians. \A Let us cook for you.';
            white-space: pre-wrap;
            color: $offWhite;
            top: 60%;
            right: 5vw;
            text-align: right;
            width: 40ch;
            text-shadow: 
                0 0 3px $dkBlue,
                0 0 2px black;
        }
    }
}