@import '../../../Components/Vars/Vars';
@import './mobile';
@import './tablet';
@import './standard';
@import './hd1080';
@import './hd4kup';

#Culture {
    position: relative;

    a {
        
        img {
            max-height: 85vh;
            width: 100vw;
            object-fit: cover;
            object-position: 50% 0;
        }

        &::before {
            content: 'Culture';
            color: $dkBlue;
            top: 25%;
            left: 5vw;
        }

        &::after {
            content: 'Ain\'t no party like a Taniti Party! Come experience beautiful dances, mouth-watering local cuisine, and hospitality others can only dream of.';
            white-space: pre-wrap;
            color: $offWhite;
            left: 5vw;
            text-align: left;
            width: 40ch;
        }
    }
}