@import '../../Vars/Vars';

@media screen and ($tabletMin <= width < $standardMin) {

    header {
        height: 19vh;
    
        .news, .blog, .cta {
            width: 33%;
            height: 15vh;
            position: relative;
            top: 6vh;
        }

        nav, .logo {
            height: 100%;
        }
    
        .news a, .blog a, .cta a {
    
            &:active {
            }
        }
    }
}