@import '../../../Components/Vars/Vars';
@import './mobile';
@import './tablet';
@import './standard';
@import './hd1080';
@import './hd4kup';

#Explore {
    position: relative;

    a {
        img {
            max-height: 85vh;
            width: 100vw;
            object-fit: cover;
            object-position: 50% 0;
        }
    
        &::before {
            content: 'Explore';
            color: $gold;
            text-shadow: 0 0 3px $offWhite;
            top: 10%;
            right: 5vw;
        }
    
        &::after {
            content: 'Climb to the top of our beautiful Kalakatoa Volcano\A Hike deep into our lush rainforests\A Go Snorkeling in our crystal-clear oceans...\A Whatever your adventure holds, you can find it on Taniti';
            white-space: pre-wrap;
            color: $offWhite;
            right: 5vw;
            text-align: right;
        }
    }
}