@import '../../../Components/Vars/Vars';
@import './mobile';
@import './tablet';
@import './standard';
@import './hd1080';
@import './hd4kup';

#Beaches {
    position: relative;

    a {
        img {
            max-height: 85vh;
            width: 100vw;
            object-fit: cover;
        }
    
        &::before {
            content: 'Beaches';
            color: $gold;
            text-shadow: 0 0 3px $offWhite;
            left: 5vw;
        }
    
        &::after {
            content: '✓ Captivating white sand beaches \A ✓ Unbelievable lava-rock beaches \A ✓ Surf that dreams are made of \A ✓ Clear blue water as far as the eye can see \A Whatever you like, if it\'s a beach, we\'ve got it!';
            white-space: pre-wrap;
            color: $gold;
            left: 5vw;
            text-align: left;
        }
    }
}