@import '../../../Vars/Vars';
@import './mobile';
@import './tablet';
@import './standard';
@import './hd1080';
@import './hd4kup';

.appLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
    }
}