@import '../../../Components/Vars/Vars';

@media screen and ($hd1080Min <= width < $hd4kMin) {

    #Hero {
        position: relative;
    
        &::before {
            top: 45%;
            font-size: 5rem;
        }
    
        &::after {
            font-size:  3rem;
        }
    }
}