@import '../../../Components/Vars/Vars';

@media screen and (width < $tabletMin) {

    #Hero {

        video {
            position: relative;
        }
    
        &::before {
            top: 25%;
            font-size: 3rem;
        }
    
        &::after {
            font-size:  1.8rem;
            text-align: center;
        }
    }
}