@import '../../../Components/Vars/Vars';

@media screen and ($tabletMin <= width < $standardMin) {

    #Hero {
        overflow: clip;
        max-width: 100vw;

        video {
            position: relative;
        }
    
        &::before {
            font-size: 4rem;
            top: 25%;
        }
    
        &::after {
            font-size:  2.4rem;
            text-align: center;
        }
    }
}