@import '../../../Components/Vars/Vars';
@import './mobile';
@import './tablet';
@import './standard';
@import './hd1080';
@import './hd4kup';

#Hero {
    position: relative;
    max-width: 100vw;

    video {
        width: 100vw;
    }

    &::before {
        content: 'Taniti';
        font-family: $brandfont;
        position: absolute;
        font-weight: 600;
        z-index: 900;
        color: $gold;
        left: 50%;
        transform: translate(-50%, -45%);
        text-shadow: 0 0 4px $ltBlue;
    }

    &::after {
        content: 'Discover Breathtaking';
        position: absolute;
        font-weight: 600;
        z-index: 900;
        font-family: $brandfont;
        color: $ltBlue;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -55%);
        text-shadow: 0 0 2px $dkBlue;
    }
}