@import '../../Vars/Vars';
@import './mobile';
@import './tablet';
@import './standard';
@import './hd1080';
@import './hd4kup';

footer {
    width: 100%;
    background-color: $dkBlue;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .footer {
        width: 100%;
        display: flex;
        position: relative;
    }
}