// color pallette
$gold: #AD956D;
$gold33: #AD956D33;
$gold66: #AD956D66;
$gold99: #AD956D99;
$ltBlue: #D3e2ef;
$dkBlue: #819aab;
$offWhite: #f6f6f5;
$beige: #e0d8cd;

// fonts
$brandfont: Tropical;
$mainfont: Arial, Helvetica, sans-serif;