@import '../../../Components/Vars/Vars';
@import './mobile';
@import './tablet';
@import './standard';
@import './hd1080';
@import './hd4kup';

#Weather {
    background-image: url('../../../Assets/Images/Hawaii_1.webp');
    position: relative;
    height: 85vh;
    width: 100vw;
    color: $offWhite;
    text-shadow: 0 0 3px $gold;
    text-align: center;
    border-top: 3px solid $offWhite;
    border-bottom: 3px solid $offWhite;
    
    h1 {
        font-family: $brandfont;
        margin: 0;
    }

    .weather {
        width: 100%;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: center;

        .temp, .description, .humidity, .wind {
            display: grid;
            justify-content: center;
            text-shadow: 0 0 2px black;

            h2 {
                text-transform: uppercase;
            }

            h3 {
            }
        }

        .temp {
            span {
                font-weight: 600;
            }
        }

        .description {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                padding: 0;
                margin: 0;
            }

            p {
                font-size: 2rem;
                margin: 0;
            }
        }

        .humidity {
            span {
            }
        }

        .wind {
            span {
            }
        }
    }
}