@import '../../../Vars/Vars';

@media screen and ($tabletMin <= width < $standardMin) {

    .social {
        width: 33%;
        position: absolute;
        left: 1vw;
        bottom: 5vh;
    
        a {
    
            img {
                width: 75%;
            }
        }
    }
}