@import '../../../Vars/Vars';

.social {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 40%;
        }
    }
}